In [1]:
! pwd

/home/gonzalo/Repos/Master_Data_Science/WEEK-5_Pandas_Dataframe_2

In [2]:
path_to_folder = '/home/gonzalo/Data/us_dot/otp/'

In [3]:
! ls {path_to_folder}

history_20				On_Time_On_Time_Performance_2015_5.zip
history_20.txt				On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_8.zip
On_Time_On_Time_Performance_2015_3.zip	three_largest_files.txt
On_Time_On_Time_Performance_2015_4.zip	three_largest_file.txt

In [4]:
! unzip -l {path_to_folder}On_Time_On_Time_Performance_2015_1.zip

Archive:  /home/gonzalo/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  2015-04-16 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  2015-04-16 20:02   readme.html
---------                     -------
211645486                     2 files

In [5]:
! unzip -o {path_to_folder}On_Time_On_Time_Performance_2015_1.zip readme.html -d $(pwd)

Archive:  /home/gonzalo/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: /home/gonzalo/Repos/Master_Data_Science/WEEK-5_Pandas_Dataframe_2/readme.html

In [6]:
! ls -lrt

total 2076
-rw-r--r-- 1 gonzalo gonzalo  12054 abr 16  2015 readme.html
-rw-r--r-- 1 gonzalo gonzalo  14025 ene 18 17:11 03-merge_concatenate_transform_clean.ipynb
-rw-r--r-- 1 gonzalo gonzalo 112856 ene 18 19:14 03-merge_concatenate_transform_mine.ipynb
-rw-r--r-- 1 gonzalo gonzalo   7943 ene 18 20:45 tips.csv
-rw-r--r-- 1 gonzalo gonzalo  79751 ene 18 21:30 04-group_by_AAF.ipynb
-rw-r--r-- 1 gonzalo gonzalo  68362 ene 18 21:47 04-group_by_AAF_mine.ipynb
-rw-r--r-- 1 gonzalo gonzalo 546843 ene 19 12:11 06-intro_to_pandas_practical_AAF.ipynb
-rw-r--r-- 1 gonzalo gonzalo 481391 ene 21 12:46 05-visualization_introduction_AAF_mine.ipynb
-rw-r--r-- 1 gonzalo gonzalo 616886 ene 21 12:46 05-visualization_introduction_AAF.ipynb
-rw-r--r-- 1 gonzalo gonzalo 171689 ene 21 12:53 06-intro_to_pandas_practical_AAF_mine.ipynb

In [7]:
! head readme.html

<HTML>
<HEAD>
	<TITLE> readme.html </TITLE>
</HEAD>
<BODY>
	<TABLE><TR><TD COLSPAN=2><H4>BACKGROUND</H4></TD></TR>
	<TR><TD COLSPAN=2>The data contained in the compressed file has been extracted from the
	On-Time Performance data table of the "On-Time" database from the TranStats data library.
	The time period is indicated in the name of the compressed file;
	for example, XXX_XXXXX_2001_1 contains data of the first month of the year 2001. </TD></TR>

In [8]:
from IPython.display import IFrame
IFrame('readme.html', width=900, height=300)

In [9]:
! unzip -p {path_to_folder}On_Time_On_Time_Performance_2015_1.zip | head -n 2

"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","UniqueCarrier","AirlineID","Carrier","TailNum","FlightNum","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",
2015,1,1,1,4,2015-01-01,"AA",19805,"AA","N787AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0855",-5.00,0.00,0.00,-1,"0900-0959",17.00,"0912","1230",7.00,"1230","1237",7.00,7.00,0.00,0,"1200-1259",0.00,"",0.00,390.00,402.00,378.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",

In [10]:
import os
import zipfile

filenames = os.listdir(path_to_folder)
zip_file = zipfile.ZipFile(path_to_folder+filenames[6])

In [11]:
filenames

['history_20.txt',
 'On_Time_On_Time_Performance_2015_4.zip',
 'three_largest_file.txt',
 'On_Time_On_Time_Performance_2015_8.zip',
 'On_Time_On_Time_Performance_2015_1.zip',
 'history_20',
 'On_Time_On_Time_Performance_2015_2.zip',
 'On_Time_On_Time_Performance_2015_5.zip',
 'On_Time_On_Time_Performance_2015_7.zip',
 'On_Time_On_Time_Performance_2015_6.zip',
 'three_largest_files.txt',
 'On_Time_On_Time_Performance_2015_3.zip']

In [12]:
zip_file

In [13]:
zip_file.filelist

[<ZipInfo filename='On_Time_On_Time_Performance_2015_2.csv' compress_type=deflate filemode='-rw-r--r--' file_size=192791767 compress_size=21227521>,
 <ZipInfo filename='readme.html' compress_type=deflate filemode='-rw-r--r--' file_size=12054 compress_size=2208>]

In [14]:
csv, readme = zip_file.filelist

In [15]:
csv

In [16]:
csv_file = zip_file.open(csv.filename)

In [17]:
csv_file

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(csv_file)
df.head(5)

/home/gonzalo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,2,7,6,2015-02-07,AS,19930,AS,N618AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,2,7,6,2015-02-07,AS,19930,AS,N778AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,2,7,6,2015-02-07,AS,19930,AS,N586AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,2,7,6,2015-02-07,AS,19930,AS,N615AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,2,7,6,2015-02-07,AS,19930,AS,N471AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
csv_file.close()
zip_file.close()

In [21]:
df.shape

(429191, 110)

In [22]:
df.size

47211010

In [23]:
df.size == df.shape[0] * df.shape[1]

True

In [24]:
df.dtypes.head(10)

Year              int64
Quarter           int64
Month             int64
DayofMonth        int64
DayOfWeek         int64
FlightDate       object
UniqueCarrier    object
AirlineID         int64
Carrier          object
TailNum          object
dtype: object

In [25]:
non_null_counts = df.count()
non_null_counts

Year                  429191
Quarter               429191
Month                 429191
DayofMonth            429191
DayOfWeek             429191
FlightDate            429191
UniqueCarrier         429191
AirlineID             429191
Carrier               429191
TailNum               425597
FlightNum             429191
OriginAirportID       429191
OriginAirportSeqID    429191
OriginCityMarketID    429191
Origin                429191
OriginCityName        429191
OriginState           429191
OriginStateFips       429191
OriginStateName       429191
OriginWac             429191
DestAirportID         429191
DestAirportSeqID      429191
DestCityMarketID      429191
Dest                  429191
DestCityName          429191
DestState             429191
DestStateFips         429191
DestStateName         429191
DestWac               429191
CRSDepTime            429191
                       ...
Div2WheelsOn              14
Div2TotalGTime            14
Div2LongestGTime          14
Div2WheelsOff              1
Div2TailNum                1
Div3Airport                0
Div3AirportID              0
Div3AirportSeqID           0
Div3WheelsOn               0
Div3TotalGTime             0
Div3LongestGTime           0
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
Length: 110, dtype: int64

In [26]:
non_null_counts[non_null_counts < 1000]

DivActualElapsedTime    706
DivArrDelay             706
Div1WheelsOff           719
Div1TailNum             719
Div2Airport              14
Div2AirportID            14
Div2AirportSeqID         14
Div2WheelsOn             14
Div2TotalGTime           14
Div2LongestGTime         14
Div2WheelsOff             1
Div2TailNum               1
Div3Airport               0
Div3AirportID             0
Div3AirportSeqID          0
Div3WheelsOn              0
Div3TotalGTime            0
Div3LongestGTime          0
Div3WheelsOff             0
Div3TailNum               0
Div4Airport               0
Div4AirportID             0
Div4AirportSeqID          0
Div4WheelsOn              0
Div4TotalGTime            0
Div4LongestGTime          0
Div4WheelsOff             0
Div4TailNum               0
Div5Airport               0
Div5AirportID             0
Div5AirportSeqID          0
Div5WheelsOn              0
Div5TotalGTime            0
Div5LongestGTime          0
Div5WheelsOff             0
Div5TailNum               0
Unnamed: 109              0
dtype: int64

In [27]:
df.columns[non_null_counts < 1000]

Index(['DivActualElapsedTime', 'DivArrDelay', 'Div1WheelsOff', 'Div1TailNum',
       'Div2Airport', 'Div2AirportID', 'Div2AirportSeqID', 'Div2WheelsOn',
       'Div2TotalGTime', 'Div2LongestGTime', 'Div2WheelsOff', 'Div2TailNum',
       'Div3Airport', 'Div3AirportID', 'Div3AirportSeqID', 'Div3WheelsOn',
       'Div3TotalGTime', 'Div3LongestGTime', 'Div3WheelsOff', 'Div3TailNum',
       'Div4Airport', 'Div4AirportID', 'Div4AirportSeqID', 'Div4WheelsOn',
       'Div4TotalGTime', 'Div4LongestGTime', 'Div4WheelsOff', 'Div4TailNum',
       'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID', 'Div5WheelsOn',
       'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum',
       'Unnamed: 109'],
      dtype='object')

In [28]:
df2 = df.drop(df.columns[non_null_counts < 1000], axis=1)

### Exercise

In [29]:
df.columns[df.columns.str.lower().str.contains('origin')]

Index(['OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'Origin',
       'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName',
       'OriginWac'],
      dtype='object')

In [30]:
df[df.columns[df.columns.str.lower().str.contains('origin')]]

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
0,14057,1405702,34057,PDX,"Portland, OR",OR,41,Oregon,92
1,11630,1163002,31517,FAI,"Fairbanks, AK",AK,2,Alaska,1
2,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
3,14057,1405702,34057,PDX,"Portland, OR",OR,41,Oregon,92
4,12892,1289203,32575,LAX,"Los Angeles, CA",CA,6,California,91
5,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
6,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
7,13873,1387302,33873,OME,"Nome, AK",AK,2,Alaska,1
8,13970,1397002,33970,OTZ,"Kotzebue, AK",AK,2,Alaska,1
9,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
10,13873,1387302,33873,OME,"Nome, AK",AK,2,Alaska,1
11,13970,1397002,33970,OTZ,"Kotzebue, AK",AK,2,Alaska,1
12,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
13,11630,1163002,31517,FAI,"Fairbanks, AK",AK,2,Alaska,1
14,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
15,14107,1410702,30466,PHX,"Phoenix, AZ",AZ,4,Arizona,81
16,10299,1029904,30299,ANC,"Anchorage, AK",AK,2,Alaska,1
17,14747,1474703,30559,SEA,"Seattle, WA",WA,53,Washington,93
18,14831,1483103,32457,SJC,"San Jose, CA",CA,6,California,91
19,14747,1474703,30559,SEA,"Seattle, WA",WA,53,Washington,93
20,14771,1477101,32457,SFO,"San Francisco, CA",CA,6,California,91
21,14057,1405702,34057,PDX,"Portland, OR",OR,41,Oregon,92
22,14679,1467903,33570,SAN,"San Diego, CA",CA,6,California,91
23,14771,1477101,32457,SFO,"San Francisco, CA",CA,6,California,91
24,14679,1467903,33570,SAN,"San Diego, CA",CA,6,California,91
25,14747,1474703,30559,SEA,"Seattle, WA",WA,53,Washington,93
26,14057,1405702,34057,PDX,"Portland, OR",OR,41,Oregon,92
27,14747,1474703,30559,SEA,"Seattle, WA",WA,53,Washington,93
28,14679,1467903,33570,SAN,"San Diego, CA",CA,6,California,91
29,14747,1474703,30559,SEA,"Seattle, WA",WA,53,Washington,93
...,...,...,...,...,...,...,...,...,...
429161,15376,1537602,30436,TUS,"Tucson, AZ",AZ,4,Arizona,81
429162,15376,1537602,30436,TUS,"Tucson, AZ",AZ,4,Arizona,81
429163,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429164,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429165,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429166,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429167,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429168,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429169,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429170,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429171,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429172,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429173,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429174,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429175,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429176,10372,1037203,30372,ASE,"Aspen, CO",CO,8,Colorado,82
429177,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429178,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429179,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429180,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429181,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429182,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429183,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429184,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429185,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429186,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429187,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
429188,10599,1059904,30599,BHM,"Birmingham, AL",AL,1,Alabama,51
429189,10599,1059904,30599,BHM,"Birmingham, AL",AL,1,Alabama,51
429190,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74

In [31]:
important_columns = ['FlightDate', 'DayOfWeek', 'Carrier', 'TailNum', 'FlightNum', 'Origin', 
         'OriginCityName', 'OriginStateName', 'Dest', 'DestCityName', 'DestStateName',
         'DepTime', 'DepDelay', 'AirTime', 'Distance']

In [32]:
df2 = df[important_columns]
df2.head()

,FlightDate,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepTime,DepDelay,AirTime,Distance
0,2015-02-07,6,AS,N618AS,131,PDX,"Portland, OR",Oregon,ANC,"Anchorage, AK",Alaska,959.0,19.0,195.0,1542.0
1,2015-02-07,6,AS,N778AS,132,FAI,"Fairbanks, AK",Alaska,SEA,"Seattle, WA",Washington,1717.0,-13.0,197.0,1533.0
2,2015-02-07,6,AS,N586AS,140,ANC,"Anchorage, AK",Alaska,PDX,"Portland, OR",Oregon,1132.0,-8.0,192.0,1542.0
3,2015-02-07,6,AS,N615AS,143,PDX,"Portland, OR",Oregon,ANC,"Anchorage, AK",Alaska,2201.0,-9.0,193.0,1542.0
4,2015-02-07,6,AS,N471AS,149,LAX,"Los Angeles, CA",California,ANC,"Anchorage, AK",Alaska,1941.0,1.0,289.0,2345.0

In [33]:
type(df['DepTime'][0])

numpy.float64

In [34]:
import numpy as np
def deptime_to_string(num):
    if num!=num: #Comprobando si es NaN
        num =0.0;

    hour = int(num / 100) % 24 
    minute = int(num % 100)
    

    return '%02d:%02d' % (hour, minute)

deptime_to_string(2423.0)

'00:23'

In [35]:
ts = pd.to_datetime('2015-01-15 08:30')

In [36]:
ts

Timestamp('2015-01-15 08:30:00')

In [37]:
series = df2['DepTime'].dropna().apply(deptime_to_string)
series.sample(5)

361916    16:39
312212    22:00
196739    07:06
99564     16:41
22026     08:25
Name: DepTime, dtype: object

In [38]:
df2['DepTimeStr'] = series
df2.head()

/home/gonzalo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,FlightDate,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepTime,DepDelay,AirTime,Distance,DepTimeStr
0,2015-02-07,6,AS,N618AS,131,PDX,"Portland, OR",Oregon,ANC,"Anchorage, AK",Alaska,959.0,19.0,195.0,1542.0,09:59
1,2015-02-07,6,AS,N778AS,132,FAI,"Fairbanks, AK",Alaska,SEA,"Seattle, WA",Washington,1717.0,-13.0,197.0,1533.0,17:17
2,2015-02-07,6,AS,N586AS,140,ANC,"Anchorage, AK",Alaska,PDX,"Portland, OR",Oregon,1132.0,-8.0,192.0,1542.0,11:32
3,2015-02-07,6,AS,N615AS,143,PDX,"Portland, OR",Oregon,ANC,"Anchorage, AK",Alaska,2201.0,-9.0,193.0,1542.0,22:01
4,2015-02-07,6,AS,N471AS,149,LAX,"Los Angeles, CA",California,ANC,"Anchorage, AK",Alaska,1941.0,1.0,289.0,2345.0,19:41

In [39]:
df2['DepTimeStr'].count()

409132

In [40]:
df2['Timestamp'] = pd.to_datetime(df2['FlightDate'] + ' ' + df2['DepTimeStr'])
df3 = df2.drop(['FlightDate', 'DepTime', 'DepTimeStr'],axis=1)
df3.head()

/home/gonzalo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepDelay,AirTime,Distance,Timestamp
0,6,AS,N618AS,131,PDX,"Portland, OR",Oregon,ANC,"Anchorage, AK",Alaska,19.0,195.0,1542.0,2015-02-07 09:59:00
1,6,AS,N778AS,132,FAI,"Fairbanks, AK",Alaska,SEA,"Seattle, WA",Washington,-13.0,197.0,1533.0,2015-02-07 17:17:00
2,6,AS,N586AS,140,ANC,"Anchorage, AK",Alaska,PDX,"Portland, OR",Oregon,-8.0,192.0,1542.0,2015-02-07 11:32:00
3,6,AS,N615AS,143,PDX,"Portland, OR",Oregon,ANC,"Anchorage, AK",Alaska,-9.0,193.0,1542.0,2015-02-07 22:01:00
4,6,AS,N471AS,149,LAX,"Los Angeles, CA",California,ANC,"Anchorage, AK",Alaska,1.0,289.0,2345.0,2015-02-07 19:41:00

In [41]:
df3.dtypes

DayOfWeek                   int64
Carrier                    object
TailNum                    object
FlightNum                   int64
Origin                     object
OriginCityName             object
OriginStateName            object
Dest                       object
DestCityName               object
DestStateName              object
DepDelay                  float64
AirTime                   float64
Distance                  float64
Timestamp          datetime64[ns]
dtype: object

In [42]:
#Como calcular maximos retrasos

In [43]:
df3.sort_values(by='DepDelay', ascending=False).head()

,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepDelay,AirTime,Distance,Timestamp
126203,6,AA,N028AA,1312,STL,"St. Louis, MO",Missouri,MIA,"Miami, FL",Florida,1587.0,131.0,1068.0,2015-02-28 08:47:00
117050,7,AA,N007AA,1080,EGE,"Eagle, CO",Colorado,ORD,"Chicago, IL",Illinois,1457.0,123.0,1007.0,2015-02-22 14:32:00
73864,7,HA,N374HA,50,HNL,"Honolulu, HI",Hawaii,JFK,"New York, NY",New York,1433.0,498.0,4983.0,2015-02-08 16:23:00
73885,1,HA,N374HA,51,JFK,"New York, NY",New York,HNL,"Honolulu, HI",Hawaii,1429.0,684.0,4983.0,2015-02-09 09:24:00
131625,4,AA,N3ASAA,1564,PHX,"Phoenix, AZ",Arizona,ORD,"Chicago, IL",Illinois,1367.0,167.0,1440.0,2015-02-19 05:54:00

In [44]:
df3['DepDelay'].describe()

count    409132.000000
mean         11.885284
std          40.143735
min         -61.000000
25%          -4.000000
50%          -1.000000
75%          11.000000
max        1587.000000
Name: DepDelay, dtype: float64

In [45]:
df3.corr()

           DayOfWeek  FlightNum  DepDelay   AirTime  Distance
DayOfWeek   1.000000   0.015379 -0.018116  0.015865  0.021141
FlightNum   0.015379   1.000000  0.002797 -0.333575 -0.349537
DepDelay   -0.018116   0.002797  1.000000  0.021388  0.020472
AirTime     0.015865  -0.333575  0.021388  1.000000  0.977982
Distance    0.021141  -0.349537  0.020472  0.977982  1.000000

In [46]:
df3.groupby('Origin').mean().sort_values('DepDelay', ascending=False)

        DayOfWeek    FlightNum   DepDelay     AirTime     Distance
Origin
TTN      3.970874   929.126214  49.747423  126.259067   814.567961
ILG      4.000000  1267.095238  40.789474  130.777778   863.095238
UST      3.076923  1050.615385  39.000000  106.000000   801.000000
SMX      4.000000  5881.160714  32.327273   37.127273   134.000000
JLN      4.000000  3202.500000  31.120000   58.812500   327.000000
PLN      3.653061  4704.755102  30.500000   43.760870   243.000000
MKG      4.000000  5396.500000  27.500000   30.869565   118.000000
SCE      4.084746  5677.796610  26.888889   91.648148   516.457627
SUX      3.846154  3277.692308  26.772727   64.795455   436.000000
OTH      4.250000  5394.000000  26.071429   66.357143   412.000000
SWF      3.985294  1329.088235  26.060606  150.123077   945.838235
PBG      4.000000   451.000000  25.357143  179.000000  1334.000000
BQN      3.940476   802.571429  25.231707  180.780488  1349.428571
SBN      3.852792  4770.510152  24.646900   52.442049   295.741117
HPN      3.843109  3007.895894  24.374798  134.559350   858.237537
GRI      4.000000  3130.482143  24.083333   82.375000   561.000000
BGR      3.476190  5085.809524  23.421053   98.947368   590.571429
CRW      3.853801  4381.736842  23.337662   88.941558   539.397661
DBQ      3.736842  3392.315789  22.904762   32.809524   147.000000
COU      4.000000  3378.250000  22.303030   64.505051   402.000000
JFK      3.975452   969.500388  22.301747  205.901119  1416.682429
DRO      4.119497  4038.534591  21.953333   61.213333   393.748428
LGA      3.761431  2120.023812  21.899658  123.587816   775.472778
ORD      3.895975  2827.450028  21.832011   99.441320   687.737942
CMI      3.914894  3151.744681  21.279503   47.024845   218.106383
SGF      3.861624  3997.666052  21.028630   70.475410   443.551661
INL      3.583333  7413.166667  20.958333   30.916667   156.416667
ALO      3.846154  3157.538462  20.955556   42.688889   234.000000
BOS      3.826850  1392.084129  20.924010  146.750208   943.808592
PAH      4.000000  5381.892857  20.872340   67.936170   342.000000
...           ...          ...        ...         ...          ...
SUN      4.113636  4918.727273   1.725000   55.362500   352.340909
ITO      3.941304   309.695652   1.686957   45.693478   282.104348
PSC      3.874214  4750.446541   1.677215   88.202532   651.295597
HLN      3.923810  4925.904762   1.504762   69.723810   492.133333
SCC      3.888889    52.166667   1.388060   48.553846   298.000000
FCA      4.000000  5197.130081   1.025000   88.483333   674.772358
RKS      4.000000  5433.696429   0.962963   43.370370   260.000000
LCH      3.970414  3972.502959   0.924528   39.836478   199.568047
LRD      3.858696  3868.690217   0.888235   57.417647   357.277174
FLG      4.016129  2701.572581   0.786885   27.713115   119.000000
SGU      3.941176  6992.566176   0.036765   52.794118   322.441176
MSO      3.849558  3698.725664  -0.526786   81.133929   609.079646
EKO      3.846154  7409.461538  -0.634615   36.538462   200.000000
FAI      4.000000   120.600000  -0.862319  130.941176  1024.200000
GTF      3.961832  5279.893130  -1.160305   73.648855   531.824427
GCC      4.000000  6004.333333  -1.390244   55.536585   345.333333
BLI      4.190476   667.571429  -2.261905  166.439024  1247.523810
BRD      3.583333  7402.583333  -2.680851   27.042553   114.000000
LWS      4.000000  4508.375000  -2.854167   64.083333   461.000000
IMT      3.769231  7417.230769  -3.372549   34.588235   169.307692
RHI      3.900000  7414.300000  -4.987500   34.750000   153.100000
WRG      4.000000    64.500000  -5.259259   16.566038    56.500000
CNY      4.250000  7362.833333  -5.340426   46.085106   184.000000
PSG      4.000000    64.500000  -5.814815   19.944444    77.000000
ADQ      4.000000    40.000000  -6.458333   40.541667   253.000000
BTM      4.000000  7376.500000  -6.500000   54.074074   358.000000
TWF      3.886792  7412.981132  -7.320755   31.528302   175.000000
PIH      3.846154  7428.461538  -8.519231   31.076923   150.000000
CDV      4.000000    63.500000 -11.333333   35.000000   186.500000
YAK      4.000000    63.500000 -12.254545   35.981481   206.000000

[315 rows x 5 columns]

In [47]:
df3[df3['Origin'] == 'TTN']

,DayOfWeek,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,Dest,DestCityName,DestStateName,DepDelay,AirTime,Distance,Timestamp
66162,7,F9,N902FR,901,TTN,"Trenton, NJ",New Jersey,ATL,"Atlanta, GA",Georgia,-3.0,108.0,701.0,2015-02-01 05:57:00
66307,7,F9,N954FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,48.0,139.0,1026.0,2015-02-01 09:18:00
66309,7,F9,N954FR,939,TTN,"Trenton, NJ",New Jersey,PBI,"West Palm Beach/Palm Beach, FL",Florida,-9.0,148.0,985.0,2015-02-01 16:11:00
66457,1,F9,N926FR,901,TTN,"Trenton, NJ",New Jersey,ATL,"Atlanta, GA",Georgia,12.0,120.0,701.0,2015-02-02 06:12:00
66463,1,F9,N927FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,-9.0,149.0,896.0,2015-02-02 07:16:00
66465,1,F9,N927FR,919,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,44.0,139.0,896.0,2015-02-02 14:34:00
66521,1,F9,N948FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,93.0,158.0,1026.0,2015-02-02 10:03:00
66523,1,F9,N948FR,913,TTN,"Trenton, NJ",New Jersey,TPA,"Tampa, FL",Florida,149.0,141.0,955.0,2015-02-02 18:18:00
66540,1,F9,N954FR,915,TTN,"Trenton, NJ",New Jersey,MDW,"Chicago, IL",Illinois,9.0,109.0,683.0,2015-02-02 06:34:00
66542,1,F9,N954FR,965,TTN,"Trenton, NJ",New Jersey,UST,"St. Augustine, FL",Florida,49.0,130.0,801.0,2015-02-02 12:39:00
66544,1,F9,N954FR,931,TTN,"Trenton, NJ",New Jersey,CLT,"Charlotte, NC",North Carolina,43.0,80.0,484.0,2015-02-02 18:43:00
66678,2,F9,N927FR,907,TTN,"Trenton, NJ",New Jersey,RDU,"Raleigh/Durham, NC",North Carolina,65.0,70.0,373.0,2015-02-03 07:45:00
66680,2,F9,N927FR,923,TTN,"Trenton, NJ",New Jersey,RSW,"Fort Myers, FL",Florida,58.0,168.0,1028.0,2015-02-03 11:44:00
66682,2,F9,N927FR,931,TTN,"Trenton, NJ",New Jersey,CLT,"Charlotte, NC",North Carolina,45.0,82.0,484.0,2015-02-03 18:25:00
66732,2,F9,N948FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,11.0,140.0,896.0,2015-02-03 07:36:00
66735,2,F9,N949FR,913,TTN,"Trenton, NJ",New Jersey,TPA,"Tampa, FL",Florida,-2.0,155.0,955.0,2015-02-03 08:28:00
66737,2,F9,N949FR,939,TTN,"Trenton, NJ",New Jersey,PBI,"West Palm Beach/Palm Beach, FL",Florida,0.0,152.0,985.0,2015-02-03 15:10:00
66746,2,F9,N954FR,901,TTN,"Trenton, NJ",New Jersey,ATL,"Atlanta, GA",Georgia,-3.0,115.0,701.0,2015-02-03 05:57:00
66894,3,F9,N927FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,-2.0,154.0,896.0,2015-02-04 07:23:00
66896,3,F9,N927FR,913,TTN,"Trenton, NJ",New Jersey,TPA,"Tampa, FL",Florida,12.0,157.0,955.0,2015-02-04 14:02:00
66939,3,F9,N941FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,0.0,154.0,1026.0,2015-02-04 08:30:00
66952,3,F9,N948FR,915,TTN,"Trenton, NJ",New Jersey,MDW,"Chicago, IL",Illinois,-9.0,119.0,683.0,2015-02-04 06:46:00
66953,3,F9,N949FR,901,TTN,"Trenton, NJ",New Jersey,ATL,"Atlanta, GA",Georgia,-11.0,115.0,701.0,2015-02-04 05:49:00
66969,3,F9,NaN,965,TTN,"Trenton, NJ",New Jersey,UST,"St. Augustine, FL",Florida,NaN,NaN,801.0,NaT
67059,4,F9,N910FR,901,TTN,"Trenton, NJ",New Jersey,ATL,"Atlanta, GA",Georgia,6.0,121.0,701.0,2015-02-05 06:06:00
67114,4,F9,N927FR,907,TTN,"Trenton, NJ",New Jersey,RDU,"Raleigh/Durham, NC",North Carolina,-10.0,69.0,373.0,2015-02-05 06:30:00
67116,4,F9,N927FR,923,TTN,"Trenton, NJ",New Jersey,RSW,"Fort Myers, FL",Florida,6.0,163.0,1028.0,2015-02-05 10:52:00
67118,4,F9,N927FR,931,TTN,"Trenton, NJ",New Jersey,CLT,"Charlotte, NC",North Carolina,2.0,82.0,484.0,2015-02-05 17:42:00
67155,4,F9,N938FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,-17.0,179.0,1026.0,2015-02-05 08:13:00
67157,4,F9,N938FR,939,TTN,"Trenton, NJ",New Jersey,PBI,"West Palm Beach/Palm Beach, FL",Florida,-9.0,147.0,985.0,2015-02-05 16:11:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71923,3,F9,N939FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,13.0,139.0,896.0,2015-02-25 07:38:00
71925,3,F9,N939FR,913,TTN,"Trenton, NJ",New Jersey,TPA,"Tampa, FL",Florida,16.0,155.0,955.0,2015-02-25 14:06:00
72779,3,F9,N954FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,26.0,171.0,1026.0,2015-02-18 08:56:00
72781,3,F9,N954FR,965,TTN,"Trenton, NJ",New Jersey,UST,"St. Augustine, FL",Florida,21.0,134.0,801.0,2015-02-18 16:21:00
72847,4,F9,N902FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,48.0,155.0,1026.0,2015-02-19 09:18:00
72849,4,F9,N902FR,939,TTN,"Trenton, NJ",New Jersey,PBI,"West Palm Beach/Palm Beach, FL",Florida,-11.0,136.0,985.0,2015-02-19 16:09:00
72960,4,F9,N939FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,2.0,130.0,896.0,2015-02-19 07:27:00
72962,4,F9,N939FR,919,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,6.0,130.0,896.0,2015-02-19 13:56:00
72966,4,F9,N941FR,901,TTN,"Trenton, NJ",New Jersey,ATL,"Atlanta, GA",Georgia,-3.0,106.0,701.0,2015-02-19 05:57:00
72995,4,F9,N954FR,907,TTN,"Trenton, NJ",New Jersey,RDU,"Raleigh/Durham, NC",North Carolina,-6.0,65.0,373.0,2015-02-19 06:34:00
72997,4,F9,N954FR,923,TTN,"Trenton, NJ",New Jersey,RSW,"Fort Myers, FL",Florida,-8.0,147.0,1028.0,2015-02-19 10:38:00
72999,4,F9,N954FR,931,TTN,"Trenton, NJ",New Jersey,CLT,"Charlotte, NC",North Carolina,3.0,82.0,484.0,2015-02-19 17:43:00
73070,5,F9,N902FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,8.0,129.0,896.0,2015-02-20 07:18:00
73072,5,F9,N902FR,919,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,23.0,127.0,896.0,2015-02-20 13:58:00
73074,5,F9,N902FR,907,TTN,"Trenton, NJ",New Jersey,RDU,"Raleigh/Durham, NC",North Carolina,12.0,63.0,373.0,2015-02-20 20:07:00
73184,5,F9,N939FR,965,TTN,"Trenton, NJ",New Jersey,UST,"St. Augustine, FL",Florida,32.0,113.0,801.0,2015-02-20 06:57:00
73186,5,F9,N939FR,923,TTN,"Trenton, NJ",New Jersey,RSW,"Fort Myers, FL",Florida,0.0,146.0,1028.0,2015-02-20 12:36:00
73188,5,F9,N939FR,931,TTN,"Trenton, NJ",New Jersey,CLT,"Charlotte, NC",North Carolina,-1.0,73.0,484.0,2015-02-20 19:39:00
73196,5,F9,N943FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,103.0,153.0,1026.0,2015-02-20 10:13:00
73198,5,F9,N943FR,913,TTN,"Trenton, NJ",New Jersey,TPA,"Tampa, FL",Florida,123.0,131.0,955.0,2015-02-20 17:52:00
76048,7,F9,N926FR,907,TTN,"Trenton, NJ",New Jersey,RDU,"Raleigh/Durham, NC",North Carolina,-9.0,61.0,373.0,2015-02-01 06:31:00
76050,7,F9,N926FR,923,TTN,"Trenton, NJ",New Jersey,RSW,"Fort Myers, FL",Florida,-8.0,156.0,1028.0,2015-02-01 10:38:00
76052,7,F9,N926FR,931,TTN,"Trenton, NJ",New Jersey,CLT,"Charlotte, NC",North Carolina,-4.0,85.0,484.0,2015-02-01 17:36:00
76055,7,F9,N927FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,-8.0,136.0,896.0,2015-02-01 07:17:00
76057,7,F9,N927FR,919,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,38.0,135.0,896.0,2015-02-01 14:28:00
352961,6,F9,N943FR,919,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,441.0,149.0,896.0,2015-02-28 21:11:00
352975,6,F9,N952FR,915,TTN,"Trenton, NJ",New Jersey,MDW,"Chicago, IL",Illinois,76.0,104.0,683.0,2015-02-28 10:46:00
352978,6,F9,N954FR,917,TTN,"Trenton, NJ",New Jersey,MCO,"Orlando, FL",Florida,-3.0,146.0,896.0,2015-02-28 07:22:00
352979,6,F9,N954FR,903,TTN,"Trenton, NJ",New Jersey,FLL,"Fort Lauderdale, FL",Florida,319.0,157.0,1026.0,2015-02-28 13:49:00
352982,6,F9,N954FR,913,TTN,"Trenton, NJ",New Jersey,TPA,"Tampa, FL",Florida,355.0,147.0,955.0,2015-02-28 21:44:00

In [48]:
Dep_by_airport = df3.groupby('Origin')['DepDelay'].agg(['mean', 'count']).sort_values('mean', ascending=False)

In [49]:
highly_delayed = Dep_by_airport[Dep_by_airport['count'] > 30].head()

In [50]:
df3.join(highly_delayed.head(10), on='Origin', how='inner')['Carrier'].unique()

array(['F9', 'MQ', 'OO'], dtype=object)

# Ejercicio

Mostrar ciudades por numero de aeropuertos.